.git/
internal/PHP_CodeSniffer
tests/docker
tests/run_all_tests_dockerized
.git
vendor
.phan/data
composer.phar
\#*#
build
report
samples
all_output.*
.vscode/
*.joblog
*.swo
*.swp
*.zip
tags
.phan/config.local.php
nohup.out
*.md.new
.idea/
src_copy
out/
phpspy.*
.phpunit.result.cache
errors.txt
