<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.0/phpunit.xsd"

        bootstrap="src/Phan/Bootstrap.php"

        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"

        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"

        verbose="false">
    <testsuites>
        <testsuite name="AnalyzerTest">
            <file>tests/Phan/AnalyzerTest.php</file>
        </testsuite>
        <testsuite name="PhanTest">
            <file>tests/Phan/PhanTest.php</file>
        </testsuite>
        <testsuite name="RasmusTest">
            <file>tests/Phan/RasmusTest.php</file>
        </testsuite>
        <testsuite name="LanguageTest">
            <directory>tests/Phan/Language</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
</phpunit>
